---
ecmaFeatures:
  modules: true
  jsx: true
  experimentalObjectRestSpread: true
env:
  amd: true
  browser: true
  es6: true
  jquery: true
  node: true
rules:
  comma-dangle:
  - 1
  - never
  no-cond-assign: 1
  no-debugger: 1
  no-dupe-args: 1
  no-dupe-keys: 1
  no-duplicate-case: 1
  no-empty: 1
  no-empty-function: 1
  no-func-assign: 1
  no-sparse-arrays: 1
  eqeqeq: 1
  no-eval: 1
  no-magic-numbers:
  - 1
  - ignoreArrayIndexes: true
    ignore:
    - -1
    - 0
    - 1
  no-lone-blocks: 1
  no-redeclare: 1
  no-self-compare: 1
  no-unused-expressions: 1
  no-useless-concat: 1
  no-unused-vars: 1
  no-use-before-define: 1
  no-lonely-if: 1
  no-mixed-spaces-and-tabs: 1
  new-cap: 1
  indent:
  - 1
  - 2
  vars-on-top: 1