<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset = "UTF-8">
      <title>Diagnostics</title>
      <link rel="stylesheet" type="text/css" href="../dist/css/pages/default.css"/>
      <link rel="stylesheet" type="text/css" href="../dist/css/pages/header.css"/>
      <link rel="stylesheet" type="text/css" href="../dist/css/pages/searchbar.css"/>
      <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
   </head>

   <body>
      <div class = "main-container" id="main-wrapper"></div>
      <script src = "../center.js"></script>
   </body>

</html>