.c-cart-display {
  @include border_style(.1em, 1px, $border_color_dx);
  background: rgba(255,255,255, 0.5);
  box-sizing: border-box;
  display: block;
  float: right;
  height: 98%;
  margin: 3px;
  width: 25%;
  padding: 10px;
}
