.c-test-add-button {
  @include border_style(0,1px, $border_color_dx);
  @include font(24px);
  background: $medium_green;
  color: white;
  display: inline-block;
  height: auto;
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  float: right;
}
