.c-test-add-button {
  @include border_style(0, 0px, $border_color_dx);
  @include font(24px);
  background: none;
  color: black;
  display: inline-block;
  height: auto;
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  float: right;
}

.c-test-body {
  @include border_style (0, 0px, $border_color_dx);
  @include font(14px);
  margin-top: 5px;
  text-align: justify;
  padding: 5px;
}

.c-test-header {
  @include border_style(0, 0px, $border_color_dx);
  padding: 3px;
}

.c-test-name {
  @include font(26px);
  display: inline-block;
}

.c-test-price {
  @include font(28px);
  display: inline-block;
  float: right;
}

.c-test-results {
  @include border_style(0.1em, 0px, rgba(204, 204, 204, 1.0));
  margin-bottom: 10px;
  padding: 1px;
  overflow-y: scroll;
  -webkit-box-shadow: -2px 2px 6px 2px rgba(0,0,0,0.14);
  -moz-box-shadow: -2px 2px 6px 2px rgba(0,0,0,0.14);
  box-shadow: -2px 2px 6px 2px rgba(0,0,0,0.14);
}


