.c-cart-buttons {
  @include font(24px);
  @include border_style(0, 1px, white);
  background: $medium_green;
  color: black;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  float: left;
  margin-top: 5px;
}

button:focus {outline:0;}
