.c-test-add-button {
  @include border_style(0, 0px, $border_color_dx);
  @include font(24px);
  background: none;
  color: black;
  display: inline-block;
  height: auto;
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  float: right;
}
