.dx-display {
  @include border_style(.1em, 1px, $border_color_dx);
  background: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  display: block;
  float: left;
  height: 98%;
  margin: 3px;
  min-width: 20%;
  max-width: 75%;
  padding: 5px;
  overflow-y: scroll;
}
