.topstrip {
  top: 0;
  left: 0;
  background: #F3FAB6;
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: +2;
}
#logobox {
  padding-top: 5px;
  padding-left: 10px;
  float: left;
}
#searchbox {
  margin-top: 3px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#loginbox {
  position: absolute;
  top: 30%;
  left: 85%;
  float: right;
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#logo {
  width: auto;
  height: 50px; }