$top: 50%;
$back_color: rgba(168, 205, 27, 0.5);
$left_margin: 5%;
$border_rad: 0.4em;
$border_color: #A8CD1B;
$border_width: 2px;
$idsize: 40px;
$talign: right;

input[type="text"],input[type="email"],input[type="password"]  {
    width: 80%;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
#clickbutton {
    width: 30%;
    height: 45px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
    float: right;
    margin-right: 10%;
    background: #005A31;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

#register {
  position: absolute;
  width: 40%;
  height: 46%;
  left: $left_margin;
  float:left;
  background: $back_color;
  top: $top;
  border-radius: $border_rad;
  border: $border_width solid $border_color;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#heading {
  font-size: $idsize;
  font-family: 'Lato', sans-serif;
  float: $talign;
  margin-top: 10px;
  margin-bottom: 20px;
}