$diag_data_width: 65%;
$diag_left_margin: 1%;
$border_radius: 0.3em;
$border_colour: #A8CD1B;
$border_thickness: 1px;
$diag_center_padding: 30px;

#diagCenterName {
  padding-left: $diag_center_padding;
  font-size: 52px;
}
#middleline {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#diagCenterAddress {
  width: 90%;
  font-size: 24px;
  padding-left: $diag_center_padding;
}
#diagCenterDesc {
  width: 90%;
  padding-left: $diag_center_padding;
  text-align: justify;
}
